---
import gitInfo from '../generated/git.json' assert { type: 'json' };
import { parseEmojis } from '../utils/emoji';
import navItems from '../nav';
import Gengar from './Gengar.svelte';

const packageJson = await import('../../package.json');
const version = packageJson.version;

const commitHashShort = gitInfo.commitHash ? gitInfo.commitHash.slice(0,7) : '';

const navigationHtml = navItems.map(({ title, link, emoji }) => {
  const parsedEmoji = parseEmojis(emoji);
  return `<a href="${link}" class="no-style"><button>${parsedEmoji} ${title}</button></a>`;
}).join('');
---

<nav>
  <div class="inner">
    <div class="left-col">
      <a href="/" class="no-style">
        <h1 style="margin:0;font-size:2.5em;" class="navtitle">t3rm1n4l</h1>
      </a><code style="font-size:15px;">v{version}</code>
      <br/>
      <small><a href={`https://github.com/T3M1N4L/site/commit/${gitInfo.commitHash}`}>{commitHashShort}</a> - {gitInfo.commitMessage}</small><br/>
      <yescript>
        <button onclick="toggleUwU()">
          uwu mode
        </button>
        <button onclick="toggleMonospace()">
          monospace mode
        </button>
        <button onclick="toggleNormal()">
          normal
        </button>
      </yescript>
    </div>
    <div class="gengar-track"><Gengar client:load /></div>
    <div class="nav">
      <Fragment set:html={navigationHtml} />
      <br/>
    </div>
  </div>
</nav>

<style>
  .left-col {
    max-width: 490px;
  }

  .gengar-track {
    flex: 1;
    position: relative;
    height: 48px;
    align-self: flex-end;
    margin-bottom: -2rem;
    overflow: visible;
    min-width: 100px;
  }

  yescript {
    display: contents;
  }
</style>
